<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phone Lst update</title>
</head>
<body>
<h1>Выберите телефон для обновления</h1>
<h2><a href="/phone_list/">На главную</a></h2>
<ul>
    {% for i in phone_list_update %}
    <li>
        <h1>{{i.title}}</h1>
        <button><a href="/phone_update_list/{{i.id}}/update/">Редактировать</a></button>
    </li>
    {% endfor %}
</ul>
</body>
</html>

<style>
    /*Уникальный селектор*/
    body {
        background-color: ivory;
        color: brown;
        text-align: center;
    }

    /*Селектор тэга*/
    h1 {
        color: darkred;
        font-family: "Arial";
    }
</style>