{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phone List</title>
    <link rel="shortcut icon" href="https://img.hhcdn.ru/employer-logo/5832362.png">
</head>
<body>
{% include 'header.html' %}
{% for i in object_list %}
<div class="card">
    <div class="card-header">
        {{i.title}}
    </div>
    <div class="card-body">
        <p class="card-text">{{i.description}}</p>
        <img src="{{i.image.url}}" alt="" width="200" height="250">
        <a href="/phone_list/{{i.id}}" class="btn btn-primary">Подробнее</a>
    </div>
</div>
<hr>

{% endfor %}

{% include 'footer.html' %}
</body>
</html>